<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>